<div class="home__btn">
    <img src="<%= imgsrc %>/menu.png" alt="">
</div>
<div class="home__menu d-none">
    <img src="<%= imgsrc %>/menu-float.png" alt="">
    <ul class="menu__list">
        <li><a href="/main">INICIO</a></li>
        <li><a href="/lobby">MI PERFÍL</a></li>
        <li><a href="/medals">MEDALLAS</a></li>
        <li><a href="/worlds">MUNDOS</a></li>
        <li><a href="/room">BATALLA EN LINEA</a></li>
        <li>AYUDA</li>
    </ul>
</div>